# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config

#Visual Studio files
*.obj
*.exp
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.opensdf
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.lib
*.sbr
*.sdf

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

ipch/
obj/
GeneratedFiles/

[Dd]ebug*/
[Rr]elease*/

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
